<div class="component" *ngIf="credit">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/credit/list">Return to list...</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>Actor:</td>
                <td>
                    <select [(ngModel)]="credit.actor" class="rounded">
                        <option *ngFor="let actor of actors" [ngValue]='actor'>{{actor.lastName+", "+actor.firstName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Movie:</td>
                <td>
                    <select [(ngModel)]="credit.movie" class="rounded">
                        <option *ngFor="let movie of movies" [ngValue]='movie'>{{movie.title}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><input [(ngModel)]="credit.role" class="rounded" type="text"></td>
            </tr>
        </table>
    </main>
    <span>
        <button (click)="create()" class="btn btn-sm btn-primary">Create</button>
    </span>
</div>